body {
    font-family: "Roboto";
    font-size: 18px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
}

button {
    background: #3882F6;
    color: #F9FAF8;
    border: 2px solid#F9FAF8;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
}

.header {
    background: #253142;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    gap: 24px;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    background: #253142;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    border-left: 24px solid#253142;
}

.intro-paragraph{
    color: #F9FAF8;
    font-size: 48px;
    max-width: 450px;
}

#intro-text {
    font-size: 18px;
    color: #E5E7EB; 
}

.intro-rotating-images {
    background: #a7a8ac;
    padding: 100px;
    color: #F9FAF8;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #253142;
    text-align: center;
    margin-top: 24px;
}

.mirror-images {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 200;
    gap: 16px;
    margin: 24px 0 24px 0;
}

.image-text {
    font-size: 18px;
}

.images {
    padding: 40px;
    border: 4px solid#3882F6;
    border-radius: 25px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    font-size: 36px;
    color: #253142;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 24px;
}

#quote-author {
    font-size: 18px;
    font-weight: 900;
    padding-left: 300px;
}

.sign-up {
    background: #3882F6;
    color: #F9FAF8;
    margin: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

#sign-up-title {
    font-size: 36px;
    font-weight: 900;

}

.footer {
    background: #253142;
    font-size: 12px;
    color: #c0c3c9;
    padding: 25px;
    text-align: center;
}